@import "../../scss/colors.scss";

.benefits {
  overflow: hidden;

  &__wrapper {
    position: relative;
  }

  &__title {
    @media screen and (max-width: 769px) {
      text-align: center;
    }
    &--first {
      margin-bottom: 70px;

      @media screen and (max-width: 1025px) {
        margin-bottom: 50px;
      }
      @media screen and (max-width: 769px) {
        margin-bottom: 35px;
      }
    }

    &--second {
      margin-bottom: 0;

      @media screen and (max-width: 769px) {
        margin-bottom: 10px;
      }
    }
  }

  &__text {
    color: #001749;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    max-width: 940px;
    width: 100%;
    margin-bottom: 70px;

    @media screen and (max-width: 1441px) {
      font-size: 25px;
    }

    @media screen and (max-width: 1025px) {
      max-width: 590px;
      font-size: 20px;
      margin-bottom: 50px;
    }
    @media screen and (max-width: 769px) {
      margin-bottom: 25px;
      text-align: center;
      max-width: 100%;
    }
  }

  &__notice {
    max-width: 1094px;
    width: 100%;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
    box-sizing: border-box;
    padding: 70px 115px;

    color: #001749;
    font-size: 30px;
    font-weight: 500;
    line-height: 120%;

    @media screen and (max-width: 1550px) {
      padding-right: 38%;
      padding-left: 65px;
      padding-top: 60px;
      padding-bottom: 60px;
      max-width: 100%;
      position: relative;
      font-size: 25px;
    }
    @media screen and (max-width: 1025px) {
      font-size: 20px;
    }
    @media screen and (max-width: 769px) {
      font-size: 18px;
      padding: 40px 15px;
      text-align: center;
    }
  }

  &__img {
    position: absolute;
    bottom: -50px;
    right: 0;
    display: flex;
    max-width: 40%;
    width: 100%;

    @media screen and (max-width: 1550px) {
      max-width: 42%;
      bottom: -35px;
      right: -10%;
    }
    @media screen and (max-width: 769px) {
      display: none;
    }

    & img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  @media screen and (max-width: 769px) {
  }
}
