@import "../../scss/colors.scss";

.hero {
  position: relative;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  overflow: hidden;

  &__wrapper {
    display: flex;
    column-gap: 20px;
    justify-content: space-between;
    flex-direction: column;
    padding: 217px 0;

    @media screen and (max-width: 1441px) {
      padding: 160px 0;
    }
  }

  &__info {
    max-width: 685px;
    width: 100%;

    @media screen and (max-width: 1441px) {
      max-width: 580px;
    }
  }

  &__image {
    position: absolute;
    right: 0;
    display: flex;
    max-width: 56%;
    width: 100%;
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);

    @media screen and (max-width: 1441px) {
      max-width: 65%;
      right: -15%;
    }

    & img,
    & svg {
      width: 100%;
      height: auto;
    }
  }

  &__subtitle {
    color: #001749;
    font-size: 30px;
    font-weight: 500;
    line-height: 120%;
    margin-bottom: 15px;

    @media screen and (max-width: 1441px) {
      font-size: 25px;
    }
  }

  &__title {
    color: #154DC8;
    font-size: 50px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: -1px;
    text-transform: uppercase;
    margin-bottom: 25px;

    @media screen and (max-width: 1441px) {
      font-size: 40px;
    }
  }

  &__button {
    max-width: 400px;
    margin-bottom: 30px;

    @media screen and (max-width: 1441px) {
      max-width: 370px;
    }
  }

  &__advantages {
    display: flex;
    flex-direction: column;
    row-gap: 22px;
  }

  &-advantage {
    display: flex;
    column-gap: 10px;

    &__icon {
      width: 19px;
      height: 15px;
      display: flex;
    }

    &__text {
      color: #001749;
      font-size: 18px;
      font-weight: 500;
      line-height: 120%;
    }
  }

  @media screen and (max-width: 1441px) {

  }

}
