@import "../../scss/colors";

.paperwork {
  &__title {
    max-width: 1090px;
    width: 100%;
    margin-bottom: 70px;

    @media screen and (max-width: 1025px) {
      margin-bottom: 50px;
    }
    @media screen and (max-width: 1025px) {
      text-align: center;
      margin-bottom: 35px;
    }
  }

  &__subtitle {
    max-width: 1070px;
    font-weight: 900;
    font-family: Gilroy, sans-serif;
    text-transform: uppercase;
    letter-spacing: -0.6px;

    @media screen and (max-width: 1025px) {
      text-align: center;
    }
    @media screen and (max-width: 769px) {
      text-align: center;
      margin-bottom: 20px;
    }
  }

  &__notice {
    color: #001749;
    font-size: 18px;
    font-weight: 500;
    line-height: 120%;
    margin-bottom: 45px;
    max-width: 1200px;
    width: 100%;

    @media screen and (max-width: 1025px) {
      margin-bottom: 35px;
    }
    @media screen and (max-width: 769px) {
      text-align: center;
      font-size: 15px;
    }
  }

  &__order {
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
    padding: 50px 30px;
    margin-bottom: 45px;

    @media screen and (max-width: 1025px) {
      margin-bottom: 35px;
    }
  }

  &-order {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 60px;

    @media screen and (max-width: 1025px) {
      row-gap: 45px;
    }
    @media screen and (max-width: 769px) {
      font-size: 23px;
      text-align: center;
      row-gap: 20px;
    }

    &__title {
      color: #154DC8;
      font-size: 30px;
      font-weight: 500;
      line-height: 120%;

      @media screen and (max-width: 769px) {
        font-size: 23px;
        text-align: center;
      }
    }

    &__items {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
      grid-template-rows: auto;
      grid-column-gap: 20px;
      grid-row-gap: 40px;
    }
  }

  &-props {
    max-width: 1072px;
    width: 100%;
    margin: 0 auto;

    &__items {
      display: flex;
      align-items: flex-start;
      column-gap: 20px;

      @media screen and (max-width: 769px) {
        flex-direction: column;
        row-gap: 20px;
      }
    }
  }

  @media screen and (max-width: 1025px) {
  }
}

.order {
  &-item {
    display: flex;
    flex-direction: column;
    row-gap: 15px;

    @media screen and (max-width: 769px) {
      row-gap: 12px;
    }

    &__number {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: $red;
      color: $white;
    }

    &__title {
      color: #001749;
      font-family: Gilroy, sans-serif;
      font-size: 20px;
      font-weight: 900;
      line-height: 120%;
      letter-spacing: -0.4px;

      @media screen and (max-width: 1025px) {
        font-size: 18px;
      }
      @media screen and (max-width: 769px) {
        font-size: 16px;
        text-align: left;
      }
    }

    &__text {
      color: #001749;
      font-size: 18px;
      font-weight: 500;
      line-height: 120%;

      @media screen and (max-width: 1025px) {
        font-size: 16px;
      }
      @media screen and (max-width: 769px) {
        font-size: 15px;
        text-align: left;
      }
    }
  }
}

.props {
  &-item {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    @media screen and (max-width: 1025px) {
      row-gap: 15px;
    }
    @media screen and (max-width: 769px) {
      row-gap: 10px;
    }

    &__title {
      font-family: Gilroy;
      font-size: 25px;
      font-style: normal;
      font-weight: 900;
      line-height: 120%;
      letter-spacing: -0.5px;

      @media screen and (max-width: 1025px) {
        font-size: 20px;
      }
      @media screen and (max-width: 769px) {
        font-size: 18px;
      }

      &--red {
        color: $red;
      }

      &--blue {
        color: $blue;
      }
    }

    &__list {
      margin: 0;
      padding-left: 15px;
      color: #001749;
      font-size: 18px;
      font-weight: 500;
      line-height: 120%;

      @media screen and (max-width: 1025px) {
        font-size: 16px;
      }
      @media screen and (max-width: 769px) {
        font-size: 15px;
      }
    }
  }
}