@import "../../scss/colors";

.section-title {
  font-size: 45px;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: -0.9px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
  font-family: Gilroy, sans-serif;

  @media screen and (max-width: 1441px) {
    font-size: 40px;
  }
  @media screen and (max-width: 1025px) {
    font-size: 30px;
  }
  @media screen and (max-width: 576px) {
    font-size: 25px;
  }

  &--center {
    text-align: center;
  }

  &--left {
    text-align: left;
  }

  &--right {
    text-align: right;
  }

  &--blue {
    color: #154DC8;
  }

  &--dark {
    color: #001749;
  }
  &--red{
    color: $red;
  }
}
