@import "../../scss/colors.scss";

.work {
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;

    @media screen and (max-width: 576px) {
    }
  }

  &__img {
    max-width: 50%;
    width: 100%;
    display: flex;

    & img,
    & svg {
      width: 100%;
      height: auto;
    }
  }

  &__subtitle {
    margin-bottom: 80px;
  }

  &-info {
    display: flex;
    flex-direction: column;

    &__title {
      margin-bottom: 0;
    }
    &__subtitle{
      margin-bottom: 60px;
    }
  }

  &-numbers {
    &__items {
      display: flex;
      column-gap: 60px;
    }

    &__item {
      display: flex;
      flex-direction: column;
    }

    &__number {
      color: #001749;
      font-size: 45px;
      font-weight: 900;
      line-height: 120%;
      letter-spacing: -0.9px;
      text-transform: uppercase;
    }

    &__text {
      color: #001749;
      font-size: 30px;
      font-weight: 500;
      line-height: 120%;
    }
  }
}
