@import "../../scss/colors.scss";

.advantages {

  @media screen and (max-width: 769px) {
    padding: 40px 0;
  }

  &__wrapper {
    border-radius: 10px;
    background: $white;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
  }

  &__inner {
    max-width: 1344px;
    width: 100%;
    margin: 0 auto;

    display: flex;
    column-gap: 30px;
    justify-content: space-between;
    align-items: center;

    padding: 70px 30px;
    box-sizing: border-box;

    @media screen and (max-width: 769px) {
      flex-direction: column;
      padding: 80px 15px;
      row-gap: 40px;
    }
  }

  &__info {
    max-width: 665px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 40px;

    @media screen and (max-width: 1025px) {
      row-gap: 20px;
    }
    @media screen and (max-width: 769px) {
      max-width: 100%;
    }
  }

  &__title {
    margin-bottom: 0;
  }

  &__notice {
    color: #001749;
    font-size: 30px;
    font-weight: 500;
    line-height: 120%;

    @media screen and (max-width: 1441px) {
      font-size: 25px;
    }
    @media screen and (max-width: 1025px) {
      font-size: 18px;
    }
    @media screen and (max-width: 769px) {
      font-size: 16px;
    }
  }

  &__reputation {
    color: #001749;
    font-size: 30px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: -0.6px;
    text-transform: uppercase;

    @media screen and (max-width: 1441px) {
      font-size: 25px;
    }
    @media screen and (max-width: 1025px) {
      font-size: 18px;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    max-width: 465px;
    width: 100%;

    @media screen and (max-width: 1025px) {
      row-gap: 15px;
    }
    @media screen and (max-width: 769px) {
      max-width: 100%;
    }
  }

  &-item {
    display: flex;
    column-gap: 20px;

    @media screen and (max-width: 1025px) {
      column-gap: 15px;
    }

    &__img {
      display: flex;
      width: 87px;
      min-width: 87px;
      height: 98px;

      @media screen and (max-width: 1025px) {
        width: 46px;
        min-width: 46px;
        height: 52px;
      }
      @media screen and (max-width: 769px) {
        width: 50px;
        min-width: 50px;
        height: 56px;
      }

      & img,
      & svg {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &__info {
      max-width: 360px;
      display: flex;
      flex-direction: column;
      row-gap: 5px;
    }

    &__title {
      color: #001749;
      font-size: 25px;
      font-weight: 900;
      line-height: 120%;
      letter-spacing: -0.5px;

      @media screen and (max-width: 1025px) {
        font-size: 18px;
      }
    }

    &__text {
      color: #001749;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 120%;

      @media screen and (max-width: 1025px) {
        font-size: 16px;
      }
      @media screen and (max-width: 769px) {
        font-size: 15px;
      }
    }
  }
}
