@import "./colors";

.btn {
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  height: 60px;
  box-sizing: border-box;

  border-radius: 5px;

  font-weight: 900;
  font-size: 20px;
  line-height: 120%;

  transition: 0.3s;
  white-space: nowrap;

  backdrop-filter: blur(2px);
  position: relative;

  @media screen and (max-width: 1441px) {
    font-size: 18px;
    height: 55px;
  }

  @media screen and (max-width: 992px) {
    font-size: 16px;
    height: 50px;
    padding: 10px;
  }

  &:focus{
    outline: none;
  }
}
