$white: #ffffff;
$black: #001749;

$red: #EE3F58;
$blue: #0669B2;
$blueGradientLight: linear-gradient(180deg, #2F5CE9 0%, #5378ED 100%);
$blueGradientDark: linear-gradient(180deg, #1349BE 0%, #1852D3 100%);
$purple: #9455E4;
$green: #2DC36A;
$yellow: #FFA51D;