@import "../../scss/colors.scss";

.header {
  position: relative;
  background-color: $white;
  padding: 0 30px;
  box-sizing: border-box;

  @media screen and (max-width: 769px) {
    padding: 0 15px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 30px;
    padding: 37px 0;

    @media screen and (max-width: 1441px) {
      column-gap: 15px;
    }
    @media screen and (max-width: 1160px) {
      padding: 10px 0;
      height: 70px;
      box-sizing: border-box;
    }
    @media screen and (max-width: 769px) {
      height: 115px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr auto;
      padding: 0;
    }
  }
}
