@import "../../scss/colors.scss";

.comparison {
  &__items {
    display: flex;
    column-gap: 20px;
    position: relative;
    justify-content: space-between;

    @media screen and (max-width: 1025px) {
      flex-direction: column;
      align-items: center;
      row-gap: 40px;
    }
  }

  &__img {
    max-width: 43%;
    width: 100%;
    position: absolute;
    z-index: -1;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    @media screen and (max-width: 1025px) {
      position: unset;
      transform: none;
    }
    @media screen and (max-width: 769px) {
      max-width: 500px;
    }

    & img {
      width: 100%;
      height: auto;
    }
  }

  &__item {
    max-width: 32.5%;
    width: 100%;

    @media screen and (max-width: 1025px) {
      max-width: 410px;
    }
    @media screen and (max-width: 769px) {
      max-width: 100%;
    }
  }

  &-item {
    display: flex;
    flex-direction: column;
    row-gap: 40px;

    @media screen and (max-width: 1025px) {
      row-gap: 30px;
      align-items: center;
    }
    @media screen and (max-width: 769px) {
      row-gap: 25px;
    }

    &--left {
      text-align: left;
    }

    &--right {
      text-align: right;
    }

    &__block {
      display: flex;
      flex-direction: column;
      row-gap: 20px;

      @media screen and (max-width: 1025px) {
        row-gap: 15px;
      }
    }

    &__img {
      @media screen and (max-width: 1025px) {
        display: flex;
        justify-content: center;
      }
    }

    &__title {
      font-family: Gilroy, sans-serif;
      font-size: 25px;
      font-weight: 900;
      line-height: 120%;
      letter-spacing: -0.5px;

      @media screen and (max-width: 1025px) {
        font-size: 17px;
        text-align: center;
      }
      @media screen and (max-width: 769px) {
        font-size: 18px;
      }

      &--red {
        color: $red;
      }

      &--dark {
        color: #001749;
      }

      &--blue {
        color: $blue;
      }
    }

    &__text {
      color: #001749;
      font-size: 18px;
      font-weight: 500;
      line-height: 120%;

      @media screen and (max-width: 1025px) {
        font-size: 16px;
        text-align: center;
      }
      @media screen and (max-width: 769px) {
        font-size: 15px;
      }

      & ul,
      & ol {
        padding-left: 20px;
        margin: 0;
      }
    }
  }

  @media screen and (max-width: 769px) {
  }
}
